.logo {
  display: flex;
  align-items: center;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.logo span {
  padding-top: 2px;
}

@media screen and (max-width: 768px) {
  .logo {
    justify-content: center;
  }
}
